body {/*задание 2+*/
    max-width: 80em;
    margin: auto;
    padding: 16px;
}
header{/* 3+ */
    padding-block: 20px; /*вверх+низ*/
}
section { /* задание 4.1+*/
    margin: 40px 0;
}
/* 4.2 аші спеціальності + */
section#specialties .specialty-cards .card {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #8E8E8E;
}
/* 4.3 в числах+ */
section#numbers .number {
    padding: 10px;
    border-right: 1px solid #FF3A3A;
}
/* 4.4 відгуки + */
section#reviews .review {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #8E8E8E;
}
/* 4.5 Новини+ */
section#news .news-card {
    vertical-align: top;
    padding: 10px;
    border-right: 1px solid #FF3A3A;
}

section#news .news-card:last-child { /*кроме последнего елемента внутри ньюз -по заданию+*/
    border-right: none;
}
/*  5 футер + */
footer {
    padding: 40px 0;
}